
  <!-- job-list-component.component.html -->
<ion-header>
  <ion-toolbar color="primary">
   
    <ion-title slot="start">Job Tracker</ion-title>
    
      

    <ion-buttons slot="end">
      <ion-button (click)="addJob()" >
        <ion-icon name="add-outline"></ion-icon> Add Job
      </ion-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="header-container">
    <ion-searchbar (ionInput)="onSearch($event)" placeholder="Search jobs"></ion-searchbar>
  
      <app-job-level-selector-component
    
      (levelSelected)="onLevelChange($event)"
    ></app-job-level-selector-component>
    </div>
   
  <ion-col >
 
 
  <ion-list >
   
    <ng-container *ngIf="(filteredJobs$ | async) as jobs">
      <ion-item *ngIf="jobs.length === 0">
        <ion-label>No jobs found.</ion-label>
      </ion-item>
      
      <ion-item *ngFor="let job of filteredJobs$ | async; trackBy: trackByJobId">
      <ion-label>
        <h2>{{ job.name }}</h2>
        <p>{{ job.company.name }}</p>
        <p>Level:{{ getJobLevels(job) }}</p>
        <p>Status:{{ job?.status || 'Applied' }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editJob(job)" fill="outline">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button  (click)="confirmDelete(job.id.toString())" fill="outline" color="danger">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    </ng-container>
  </ion-list>
  <ion-modal [isOpen]="displayDialog" (didDismiss)="onCancel()" [breakpoints]="[0, 0.5, 0.8]" initialBreakpoint="0.5"
  [presentingElement]="presentingElement">
    <ng-template>
  <app-job-form-component
  
  [job]="selectedJob"
  
  [displayDialog]="displayDialog"
  (saveJob)="onJobSave($event)"
  (cancel)="onCancel()">
</app-job-form-component>
</ng-template>
</ion-modal>
</ion-col>


  <div class="chart-container">
    <div class="chart">
    <canvas #barChartCanvas></canvas>
  </div>
  <!-- </div> -->
  <!-- <div class="chart-container"> -->
  <div class="chart">
    <h3 style="text-align: center;">Job Status</h3>
    <canvas #doughnutChartCanvas></canvas>
  </div>
  </div>
</ion-content>
